<! DOCTYPE html >
<html>
  <head>
    <title> BPD Officer Records</title>
  </head>
  <header>
  <nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/officers">Officers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/arrests">Arrests</a>
    </li>
  </ul>
</nav>
  </header>
  <body>
<br>
    <div class="container">
    <div class = "text-white bg-primary">
      <h3>Baltimore Police Department Records</h3>
    </div>
    </div>
  <%= form_with url: '/officers', method: 'post' do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit "Create Officer" %>
  <% end %>

</html>